// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ヘッダーバナー部分↓

.top-page-header{
  display: flex;
  height: 15vh;
  width: auto;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 5px 6px rgb(179, 179, 179);
  align-items: center;
}

.app_logo_img {
  width: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.nav-lists {
  width: 70vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10%;
}

.user {
  display: flex;
  font-family: sans-serif;
  justify-content: flex-end;
  color: blue;
  list-style: none;
  text-decoration: none;
  font-size: 140%;
}

.user:hover {
  text-decoration: underline;
}

.edit {
  display: flex;
  justify-content: flex-end;
  color: gray;
  list-style: none;
  text-decoration: none;
}
.edit:hover {
  text-decoration: underline;
}

.logout {
  display: flex;
  justify-content: flex-end;
  color: gray;
  list-style: none;
  text-decoration: none;
}
.logout:hover {
  text-decoration: underline;
}


.post-article {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: rgb(0, 250, 125);/*文字色*/
  background: #FFF;
  border: solid 3px rgb(0, 250, 125);/*線*/
  border-radius: 10px;/*角の丸み*/
  text-decoration: none;
  font-size: 150%;
  box-shadow: 0 5px 6px rgb(179, 179, 179);
}
.post-article:hover {
  text-decoration: underline;
  color: purple;
  border: solid 3px purple;/*線*/
}

.sign-up {
  display: flex;
  justify-content: flex-end;
  color: gray;
  list-style: none;
  text-decoration: none;
  font-size: 150%;
}
.sign-up:hover {
  text-decoration: underline;
}

.login {
  display: flex;
  justify-content: flex-end;
  color: gray;
  list-style: none;
  text-decoration: none;
  font-size: 150%;
}

.login:hover {
  text-decoration: underline;
}


.head_img {
  width: 100vw;
  height: 65vh;
  padding-top: 6%;
  text-decoration: none;
}
//ヘッダー部分↑

.time-line-word{
  font-size: 250%;
}

.time-line {
  display: flex;
  justify-content: center;
}

//投稿部分↓
.time-line-word {// 「タイムライン」の文字
  display: flex;
  justify-content: center;
  font-size: 250%;
  margin-bottom: 0;
  padding-top: 0;
}

.content_post {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.active-all{
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  width: 30%;
}
.active-all:hover {
  color: gray;
}

.content-part {
  height: 70vh;
  width: auto;
}

.title-box {
  height: 8%;
  width: auto;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 160%;
  padding-bottom: 20px;
}

.content-major {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.major-word {
  display: flex;
  justify-content: center;
  height: 4%;
  width: 300px;
  border: solid 1px black;
  border-radius: 20px;
}

.active-day {
  display: flex;
  justify-content: center;
  font-size: 110%;
  height: 4%;
  align-items: center;
}
.activeday:hover {
  color: gray;
}

.second-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-left{
  padding-right: 40px;
}

.personal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13%;
  align-items: center;
}

.avatar {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  margin-right: 15px;
}

.content_user_name {
  display: flex;
  justify-content: center;
}

.top-img {
  display: flex;
  justify-content: center;
  height: 65%;
  align-items: center;
  background-color: grey;
  margin-top: 10px;
}

.activity_top_image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  list-style: none;
  color: black;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.452);
}

//投稿部分↑

//フッター部分↓
.footer-contents {
  width: 100vw;
  background-color: lightgray;
}
//フッター部分↑.


//SHOWページ↓

.article-box {
  background-color: lightgrey;
  margin-top: 15vh;
  height: 85vh;
  box-shadow: 0 5px 6px rgb(139, 139, 139);
}


.title-text {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  font-size: 200%;
}

.second-banner {
  height: 6%;
  display: flex;
  justify-content: center;
}

.second-banner-left {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.date-box {
  display: flex;
  justify-content: center;
  font-size: 100%;
}

.date-text {
  padding-right: 30px;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  font-size: 120%;
}

.weather-text {
  padding-right: 30px;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  font-size: 120%;
}

.user-info {
  width: 45%;
  display: flex;
  font-family: sans-serif;
  justify-content: flex-start;
  list-style: none;
  text-decoration: none;
  font-size: 120%;
  align-items: center;
  padding-left: 20px;

}

.user_name {
  padding-left : 10px;
}

.avatar-box-img {
  height: 70px;
  width: 70px;
  align-items: center;
  border-radius: 50px;
}


.article-img {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 5px;
  height: 50%;
}

.article-box-img {
  object-fit: contain;
  width: 100%;
  height: 96%;
  list-style: none;
  color: black;
}

.location-text-box{
  display: flex;
  height: 5%;
  align-items: center;
}

.location-text{
  margin-left: 40px;
  width: 220px;
}
.location-text-data{
  margin-right: 40px;
}

.memo-text-box{
  display: flex;
  align-items: center;
  height: 15%;
}

.memo-text{
  margin-left: 40px;
  width: 220px;
}

.memo-text-data{
  margin-right: 40px;
}

.appeal-point-text-box{
  display: flex;
  align-items: center;
  height: 15%;
}

.appeal-point-text{
  margin-left: 40px;
  width: 220px;
}

.appeal-point-text-data {
  padding-right: 40px;
}

.show-bottom {
  display: flex;
  justify-content: space-around;
  padding: 0 35%;
}

.article-edit-delete {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: gray;/*文字色*/
  background: #FFF;
  border: solid 3px gray;/*線*/
  text-decoration: none;
}
.article-edit-delete:hover {
  color: black;
}

.show-back{
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: gray;/*文字色*/
  background: #FFF;
  border: solid 3px gray;/*線*/
  text-decoration: none;
}
.show-back:hover {
  color: black;
}

.post-new-field{
  padding-top: 15%;
}