// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ヘッダーバナー部分↓
.top-page-header{
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  height: 15vh;
  width: 100vh;
  width: auto;
  position: fixed;
  z-index: 100;
  background-color: white;
  box-shadow: 0 5px 6px rgb(179, 179, 179);
  align-items: center;
}

.app_logo_img {
  // fieldwork recorderのロゴ画像
  height: auto;
  width: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
}

.nav-lists {
  // ナビゲーションリスト
  width: 70vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10%;
}

.user {
  // ユーザーの名前
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  justify-content: flex-end;
  color: black;
  list-style: none;
  text-decoration: none;
  font-size: 130%;
}

.user:hover {
  text-decoration: underline;
}

.edit {
  // 編集文字
  display: flex;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: gray;
  list-style: none;
  text-decoration: none;
}
.edit:hover {
  text-decoration: underline;
}

.logout {
  // ログアウト文字
  display: flex;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: gray;
  list-style: none;
  text-decoration: none;
}
.logout:hover {
  text-decoration: underline;
}


.post-article {
  // 新規投稿文字
  width: 120px;
  height: auto;
  display: flex;
  justify-content: center;
  justify-content: flex-end;
  padding: 0.5em 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);/*文字色*/
  background: rgb(255, 145, 0);
  border: solid 3px rgb(255, 115, 0);/*線*/
  border-radius: 10px;/*角の丸み*/
  text-decoration: none;
  font-size: 140%;
  box-shadow: 0 5px 6px rgb(179, 179, 179);
}
.post-article:hover {
  text-decoration: underline;
  color: purple;
  border: solid 3px purple;/*線*/
}

.sign-up {
  // 新規登録文字
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  color: gray;
  list-style: none;
  text-decoration: none;
  font-size: 110%;
}
.sign-up:hover {
  text-decoration: underline;
}

.login {
  // ログイン文字
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  color: gray;
  list-style: none;
  text-decoration: none;
  font-size: 110%;
}

.login:hover {
  text-decoration: underline;
}

.wrap-header {
  height: 12.5vh;
}