/* SHOW */
.asset-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.asset-prof-box {
  height: 75vh;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.second-prof-box {
  width: 680px;
  padding-left: 15px;
  padding-right: 15px;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.asset-h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 180%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.asset-prof-personal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  padding-bottom: 30px;
}

.prof-avatar-data {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-right: 20px;
}

.prof_user_name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 170%;
}

.count-day-box {
  padding-left: 50px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.count-day {
  font-size: 50px;
  padding: 0 8px;
  color: red;
}

.show-follow-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.show-follow-info-detail {
  margin-right: 50px;
}

.btn-primary {
  font-family: monospace;
  width: 200px;
  padding: 8px 20px;
  font-size: 18px;
  border: 2px solid rgb(0, 68, 0);
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  background-color: green;
  box-shadow: 0 5px 6px rgb(179, 179, 179);
}
.btn-secondary {
  font-family: monospace;
  width: 200px;
  padding: 8px 20px;
  font-size: 18px;
  border: 2px solid rgb(63, 63, 63);
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  background-color: rgb(112, 112, 112);
  box-shadow: 0 5px 6px rgb(179, 179, 179);
}

.show-stats {
  font-family: monospace;
  font-size: 25px;
  color: black;
  text-decoration: none;
}
.show-stats:hover {
  color: blue;
}

.second-prof-box {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height : 350px;
}

.user-show-intro {
  width: 140px;
  font-family: monospace;
  font-size: 25px;
}

.user-show-intro-data {
  width: 500px;
  font-family: monospace;
  line-height: 35px;
  font-size: 22px;
}

.user-show-major-word {
  padding-bottom: 40px;
  display: flex;
}

.user-show-research-word {
  padding-bottom: 40px;
  display: flex;
}

.user-show-intro-word {
  margin-bottom: 40px;
  display: flex;
}

.user-show-time-line-word {
  font-size: 180%;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.asset-article-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.user-show-content-post-back{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1400px;
}

.user-show-content-part {
  height: 400px;
  width: 400px;
  padding-bottom: 30px;
}

.user-show-second-area{
  display: flex;
  align-items: center;
  width: 100%;
  height: 15%;
  margin-bottom: 0;
}

.index-avatar-box{
  width: 30%;
}

.index-avatar {
  display: flex;
  align-items: center;
  object-fit: cover;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  border: white 3px solid;
}

.second-right{
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_user_name {
  font-size: 120%;
}

.user-show-content-major{
  width: 100%;
}

.major-word {
  font-size: 90%;
}

.user-show-index-active-day {
  font-size: 80%;
  width: 100%;
}

.user-show-top-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  align-items: center;
  margin-top: 10px;
}