/* SHOW */
.prof-box {
  height: 74vh;
  width: 1400px;
}

h1 {
  padding-top : 20px;
  display: flex;
  justify-content: center;
  font-size: 150%;
}

.prof-personal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13%;
}

.prof-avatar-data {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-right: 20px;
}

.prof_user_name {
  font-size: 170%;
}

.count-day-box {
  padding-left: 80px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.count-day {
  font-size: 150%;
  color: red;
}

.user-show-time-line-word {
  font-size: 150%;
  padding-top: 10px;
}

.asset-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.user-show-content-post-back{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1400px;
}

.user-show-content-part {
  height: 400px;
  width: 400px;
  padding-bottom: 30px;
}

.user-show-second-area{
  display: flex;
  align-items: center;
  width: 100%;
  height: 15%;
  margin-bottom: 0;
}

.index-avatar-box{
  width: 30%;
}

.index-avatar {
  display: flex;
  align-items: center;
  object-fit: cover;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  border: white 3px solid;
}

.second-right{
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_user_name {
  font-size: 120%;
}

.user-show-content-major{
  width: 100%;
}

.major-word {
  font-size: 90%;
}

.user-show-index-active-day {
  font-size: 80%;
  width: 100%;
}

.user-show-top-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  align-items: center;
  margin-top: 10px;
}
